@font-face {
    font-family: 'RGfont';
    src: url('rg-font.woff2') format('woff2')
}

html {
    background-color: #D3521F;
    color: white;
    font-family: 'RGFront', Arial, Helvetica, sans-serif;
}

.first-part-score-bar {
    background-color: #00503C;
    color: white;
}

.second-part-score-bar {
    background-color: white;
    color: black;
}
